/* You can add global styles to this file, and also import other style files */
* {
  text-align: center;
}

hr {
  margin-bottom: 0;
  margin-top: 3rem;
}

h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.yellow {
  color: #fbfe09;
}

.fs {
  font-size: 2rem;
}

p {
  margin-block: 0.5rem;
}

.brown {
  color: #a03b45;
}

.pink {
  color: #d97673;
}
